@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url("fonts/binance.css");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

body {
    padding: 1.5rem;
}

form {
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    max-width: 36rem;
    height: 100%;
    max-height: 40rem;
    border: 0.1rem solid #E0E2E6;
}

form>div {
    width: 100%;
    display: flex;
    gap: 1rem;
}


form>div:nth-child(1) {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.25rem;
    height: 3rem;
    background-color: #E0E2E6;
}
form>div:nth-child(1) input {
    border-radius: 0.25rem;
    flex: 1;
    height: 2.5rem;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 0.2rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: transparent;
    transition: 0.3s;
}
form>div:nth-child(1) input:hover {
    cursor: pointer;
}
form>div:nth-child(1) input.active {
    background-color: #FFFFFF;
}

form>div label {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

form>div label h2 {
    width: 100%;
    height: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #000000;
}
form>div label input {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
    height: 2rem;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    color: #000000;
    outline: none;
    border: 0.1rem solid #E0E2E6;
    transition: 0.3s;
}
form>div label input:focus {
    border-color: #767676;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #5956E5;
    transition: 0.3s;
}
form button:hover {
    cursor: pointer;
    filter: brightness(.9);
}
form button h2 {
    color: #FFFFFF;
    font-size: 1rem;
    letter-spacing: 0.2rem;

}
form button img {
    height: 1rem;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(318deg) brightness(102%) contrast(101%);
}

form a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
}

aside {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-width: 24rem;
    height: 100%;
    max-height: 40rem;
    background-color: #E0E2E6;
}

aside article {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 21rem;
    height: 100%;
    max-height: 36rem;
    background-color: #FFFFFF;
}

aside article h1 {
    border-radius: 1rem;
    display: grid;
    place-items: center;
    width: 10rem;
    height: 2rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: "Ultra", serif;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    background-color: #E0E2E6;
}

aside article h6 {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 1.5rem;
}
aside article h6::before,
aside article h6::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #E0E2E6;
}
aside article h6::before {
    left: 0;
    transform: translateX(-150%);
}
aside article h6::after {
    right: 0;
    transform: translateX(150%);
}
aside article h6 hr {
    width: 100%;
    height: 0.1rem;
    border: none;
    background-image: linear-gradient(to right, #767676 33%, rgba(255, 255, 255, 0) 0%);
    background-position: -0.2rem bottom;
    background-size: 1rem 100%;
    background-repeat: repeat-x;
}

aside article table {
    width: 100%;
    border-collapse: collapse;
}
aside article table td {
    height: 1.25rem;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
}
aside article table td:nth-child(1) {
    text-align: left;
}
aside article table td:nth-child(2) {
    text-align: right;
}
aside article table thead td {
    height: 1.75rem;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #5956E5;
}
aside article table tbody {
    width: 100%;
}
aside article p {
    width: 100%;
    color: #767676;
    text-align: center;
    text-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.1rem;
}

aside article a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    height: 2rem;
    outline: none;
    border: 0.1rem solid #E0E2E6;
    background-color: transparent;
    transition: 0.3s;
    text-decoration: none;
}
aside article a:hover {
    border-width: 0.2rem;
    cursor: pointer;
    filter: brightness(0.9);
}
aside article a img {
    height: 1rem;
    filter: invert(55%) sepia(0%) saturate(21%) hue-rotate(160deg) brightness(83%) contrast(85%);
}
aside article a h2 {
    color: #767676;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
}


#PNL h1 {
    font-weight: 600;
    font-family: "Binance Flex", monospace;
}
#PNL h2 {
    font-weight: 500;
    font-family: "Binance Flex", monospace;
}
#PNL h3 {
    font-weight: 400;
    font-family: "Binance Flex", monospace;
}
#PNL h4 {
    font-weight: 300;
    font-family: "Binance Flex", monospace;
}

#PNL {
    position: relative;
    display: block;
    padding: 30px 50px 0 50px;
    width: 580px;
    height: 326px;
}

#PNL img.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#PNL img.banner {
    width: min-content;
    height: 24px;
    object-fit: contain;
}

#PNL div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 20px;
    margin-top: 34px;
}
#PNL div:nth-of-type(1) h2 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #EAECEF;
}
#PNL div:nth-of-type(1) h2:nth-child(1) {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2EBD85;
}
#PNL div:nth-of-type(1) span {
    width: 1px;
    height: 16px;
    background-color: #474D57;
}

#PNL div:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 56px;
}
#PNL div:nth-of-type(2) h1 {
    font-size: 48px;
    color: #2EBD85;
}

#PNL div:nth-of-type(3) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
    gap: 2px 16px;
    margin-top: 4px;
    width: 100%;
    height: 44px;
}
#PNL div:nth-of-type(3) h2:nth-child(1),
#PNL div:nth-of-type(3) h2:nth-child(3) {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #B7BDC6;
}
#PNL div:nth-of-type(3) h2:nth-child(2),
#PNL div:nth-of-type(3) h2:nth-child(4) {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #F0B90B;
}

#PNL div:nth-of-type(4) {
    display: grid;
    align-items: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
    width: 100%;
    height: 56px;
    margin-top: 34px;
}
#PNL div:nth-of-type(4) img {
    grid-row: 1 / 3;
    width: 56px;
    height: 56px;
    border: 4px solid #FFFFFF;
}
#PNL div:nth-of-type(4) h3 {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #B7BDC6;
}
#PNL div:nth-of-type(4) h1 {
    font-size: 24px;
    color: #EAECEF;
}


@media (min-width: 320px) and (max-width: 1080px) {
    aside {
        display: none;
        position: absolute;
        max-width: none;
        max-height: none;
        background-color: rgba(0, 0, 0, 0.2);
    }
    aside article h6::before,
    aside article h6::after {
        background-color: rgba(0, 0, 0, 0.2);
    }
}
